<!DOCTYPE html>
    <html>
        <head>
            <title></title>
        </head>
        <body>
            <form action="/delete" method="POST">
                Information:
                <input type="text" name="name">
                <input type="text" name="email"
                <input type="submit" value="delete">
            </form>
        </body>
    </html>